/* style.css */

/* general body */
/****************/

body{
  background: #FFFFFF;
  color: #2E2E2E;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
}
h1{
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 25px;
}
h2 {
  color: #D42C14;
  font-weight: bolder;
  font-size: 20px;
}
h3 {
  color: #545155;
  font-weight: bolder;
  font-size: 15px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: #AB2513;
}

/****************/
/* navbar */
/****************/

#navbar {
  background:white;
  padding:10px;
  text-align: center;
  font-weight: bold;
}

/****************/
/* header */
/****************/

#header{
  text-align: center;
  background-color:#3D78A6;
  color: white;
  padding:10%;
}

#header p {
  font-size: 25px;
  font-weight: bolder;
}

#header h2 {
  color:#F9B829
}

#header a.btn {
  padding:15px;
  text-decoration: none;
}

#header svg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  background-color: #D23333;
  color:white;
}

/****************/
/* content */
/****************/

.container {
  padding:20px 0px;
  background-color: #F3F3F3;
  margin:0 auto;
  width: 100%;
  text-align: center;
}

.container ul {
  text-align: left;
}

.container i {
  font-size:70px;
}

.card{
  font-weight: lighter;
  text-align:center;
  width:80%;
  margin: 40px auto;
}

.card img {
  width:100%;
}

/****************/
/* footer */
/****************/

#footer{
  padding: 50px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  text-align: center;
  line-height: 2;
}
#footer a {
  color: lightgrey;
  font-size: 20px;
}
#footer a:hover {
  color: white;
}

#footer ul {
  padding-left:0;
  list-style: none;
}

#footer li {
  display: inline-block;
  padding:0px 10px;
}

/****************/
/* forms */
/****************/

.input {
  font-size: 18px;
  height:50px;
  padding:0px 15px;
  background:white;
  border:1px solid lightgray;
  width:200px;
  border-radius:3px;
}

.btn {
  background:#D42C14;
  color:white;
  font-weight: bolder;
  width:150px;
  border:1px solid #AB2513;
}

.btn:hover {
  background:#AB2513;
  color:white;
}



